<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>__title__</title>
</head>
<body>
    <h1>__title__</h1>
    <script src="https://unpkg.com/lambda360form@__version__/dist/lambda360form.js"></script>
    <div id="app"></div>
    <script>
        __script__
        Lambda360.initLambda360('#app', { input: params, lambda: lambda });
    </script>
__self__
</body>
</html>
